doctype html
html(lang="en")
  head
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Pug
    link(href="../sass/index.scss", rel="stylesheet") 

  body
    block content
    script(async, src="../js/index.js")